.footer {
    width: 100%;
    background: #f2f1f8;
    padding-top: 108px;
    padding-bottom: 90px
}

.footer .logo_container {
    position: absolute;
    top: -10px;
    left: 0;
}
.contact-col{

    left:50px;
    top:15px;
}
.cor-search{
width: 90%;
padding-left: 1px;
}
.cor-input{
    
    position: relative;
    border: none;
    width: 160%;
    height: 40px;
    outline: none;
    background: #f2f1f8;
    padding-left: 22px;

}
.cor-input1:not(:last-child){
    margin-bottom: 14px;

}
.cor-input1{
    position: relative;
    border: none;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    outline: none;
    background: #f2f1f8;
    padding-left: 22px;

}
.cor-input2{
    position: relative;
    border: none;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    outline: none;
    background: #f2f1f8;
    padding-left: 22px;

}
.course-button {
    position: relative;
    width: 224px;
    height: 50px;
    border: none;
    
    outline: none;
    cursor: pointer;
    background: #ff8a00;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.course-button .button-arrow {
    width: 47px;
    background: #f60
}

.course-button span:first-child {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    padding-right: 44px;
    line-height: 50px;
    text-transform: uppercase
}

.course-button:hover {
    background: #ffae00
}

.course-button:hover .button-arrow {
    background: #ff8a00
}

.course-search-form>div {
    width: calc((100% - 284px) / 2)
}
.course-search-form>div::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #f60;
    content: '';
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
.course-search-form>div:hover::after {
    visibility: visible;
    opacity: 1
}


.footer-text{
    padding-top: 100px;
    left: 15px;
}

.footer-social {
    padding-top: 30px;
    left: 15px;

}

.footer-social ul {
    display: inline-block
}

.footer-social ul:not(:last-child) {
    margin-right: 24px
}

.footer-social ul a i {
    font-size: 16px;
    color: #f60;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.footer-social ul a i:hover {
    color: #ffae00
}

.copyright {
    font-size: 12px;
    font-weight: 500;
    color: #b3b3b3;
    margin-top: 50px;
    text-align: center;
}


.footer-title {
    font-size: 18px;
    font-weight: 600;
    color: #44425a;
    padding: 12px;
    left: 15px;
}


.footer-list {
    margin-top: 26px;
   left: 30px;
    list-style: none;
    
}


.footer-list li:not(:last-child) {
    margin-bottom: 15px;

}

.footer-list li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  
    color: #6c6a74;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.footer-list li a:hover {
    color: #ff8a00
}

.footer-contact-info {
    padding-right: 70px;
    margin-top: 26px;
    left: 30px;
}

.footer-contact-item:not(:last-child) {
    margin-bottom: 23px;
}

.footer-contact-title {
    font-size: 14px;
    font-weight: 500;
    color: #f60
}

.footer-contact-line {
    font-size: 14px;
    font-weight: 500;
    color: #6c6a74;
    margin-top: 3px
}

.logo-text{
    font-family: 'Montserrat',serif;
    font-size: 18px;
    font-weight: 700;
    line-height: .75;
    margin-left: 1px;
    color: #464646;
    display: inline-block;
    text-transform: uppercase;
    

}
.logo-img{
    vertical-align: middle;
    border-style: none;
}
.down{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}
.navbar-nav:not(:last-child) {
    margin-right: 100px;
}
.navbar-nav li{
    display: inline-block;
}
.navbar-nav ul li  a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 31px;
    background: #fff;
    color: #2c2b31;
    padding-left: 19px;
    padding-right: 19px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.header{
    background-image: url('../../image/contact.jpg');
    width: 100%;
    height: 300px;
}
.home-container{
    text-align: center;
    padding-top: 120px;
    font-size: 48px;
    font-weight: 600;
    line-height: 0.75;
    
}
.goal-text p{
    color: #44425a; 
    margin-top:61px;
    line-height: 2.1;
}
.navbar-nav li a:hover,.main_nav li.active a {
    color: #fff;
    background: #ff8a00
}

.navbar-nav li a:hover {
    background: #ff8a00
}

a, a:hover , a:visited , a:active , a:link{
    text-decoration: none;
    
}
